<nb-layout>      
  <nb-layout-column>
      <h1>UWAGA</h1>
      <h3>żeby działało to w tej chwili trzeba dodac min 2 kategorie i min 2 firmy. Nastepnie trzeba wybrac ze selecta ta druga firme, zeby warotsc taga selected sie zmieniła. 
          Musze poprawic wybieranie domyslnego selecta</h3>
      <h3>Wiecej info na trello</h3>
    <div class="form col-lg-6">
      <form (ngSubmit)="sendOrder()" #heroForm="ngForm" [formGroup] = "myform">
        {{diagnostic}}
        
        <!--/////////KATEGORIA-->

        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" id="category"  [(ngModel)]="selectedCategory" formControlName="categorySelectControl" name="selectedCategory"  [ngClass]="{
            'temp-notsuc': categorySelectControl.invalid && sendIsClicked,
            'temp-suc': categorySelectControl.valid && sendIsClicked
          }" required>
            <option value="" hidden>wybierz kategorie</option>
            <option *ngFor="let category of categories | async">{{category.name}}</option>
          </select>
        </div>

                        <!--/////////AddKategoria link dodaj kategorie-->

        
        <div class="linkElement">
          <a href="#" data-toggle="collapse" data-target="#inputCategory">Add Category</a>
        </div>

               
        <!--/////////Nazwa kategori Collapse-->


        <div id="inputCategory" class="collapse">
          <div class="form-group">
            <label for="newCategory">Ten Input powinien sie pojawic jezeli klikniemy "dodaj kategorie"</label>
            <input type="text" class="form-control" id="newCategory" name="newCategory" [(ngModel)]="newCategory" required />
          </div>

                        <!--/////////Przycisk do wyslania kategori-->


          <div class="form-group text-center">
            <button (click)="addNewCategory()" class="btn btn-success btn-block" data-toggle="collapse" data-target="#inputCategory">Wyslij</button>
          </div>
        </div>

                      <!--/////////Nazwa produkty-->


        <div class="form-group">
          <label for="category">productName</label>
          <input type="text" class="no-border form-control" id="productName" 
          name="productName" [(ngModel)]="productName" 
          formControlName="productNameControl" [ngClass]="{
            'temp-notsuc': productNameControl.invalid && sendIsClicked,
            'temp-suc': productNameControl.valid && sendIsClicked

       }" required />
          
        </div>
        <div [hidden]="!sendIsClicked || productNameControl.valid"
        class="alert-rectangle">
        <p>Min length = 8; </p>
      </div> 
        <!--
        <div class="form-group" [ngClass]="{
          'temp-notsuc': email.invalid && (email.dirty || email.touched),
          'temp-suc': email.valid && (email.dirty || email.touched)
     }">
          <label for="quantity">Quantity</label>
          <input type="text" class="form-control" id="quantity" formControlName="email" name="quantity" [(ngModel)]="quantity" required />
        </div>
      -->

                    <!--/////////Quantity-->

        <div class="form-group" [ngClass]="{
          'temp-notsuc': quantityControl.invalid && (quantityControl.dirty || quantityControl.touched),
          'temp-suc': quantityControl.valid && (quantityControl.dirty || quantityControl.touched)
     }">
          <label for="quantity">Quantit2y</label>
          <input type="text" class="form-control" id="quantity" formControlName="quantityControl" name="quantity" [(ngModel)]="quantity" required />
        </div>

                    <!--/////////Company Selectbox-->

        <div class="form-group">
          <label for="company">Company</label>
          <select class="form-control" id="company" [(ngModel)]="selectedCompany" name="selectedCompany" >
            <option *ngFor="let company of companies | async">{{company.name}}</option>
          </select>
        </div>
        
                      <!--/////////Link do dodania kompani-->

        <div class="linkElement">
          <a href="#" data-toggle="collapse" data-target="#inputCompany">Add Company</a>
        </div>
        
                      <!--/////////NazwA fIRMY Collapse-->

        <div id="inputCompany" class="collapse">
          <div class="form-group">
            <label for="addCompany">Nazwa Firmy</label>
            <input type="text" class="form-control" id="addNewCompany" name="addNewCompany" [(ngModel)]="newCompany" required />
          </div>
          
                        <!--/////////Email collapse-->

          <div class="form-group">
            <label for="companyEmail">Email</label>
            <input type="text" class="form-control" id="addCompanyEmail" name="addCompanyEmail" [(ngModel)]="newCompanyEmail" required/>
          </div>
                        <!--/////////Przeycisk do dodania firmy-->

          <div class="form-group text-center">
            <button (click)="addNewCompany()" class="btn btn-success btn-block" data-toggle="collapse" data-target="#inputCompany">Dodaj companie</button>
          </div>
        </div>


        <br/>
                      <!--/////////Przycisk do wyslania zamowianie-->

        <div class="form-group text-center">
          <button type="submit" class="btn btn-success" >Submit</button>
        </div>

        
      </form>
    </div>

    <ul>
          <li *ngFor="let order of orders | async">
              <pre>{{ order | json }}</pre>
          </li>
      </ul>

    <div>
        <h1>Co do zrobienia:</h1>
        <h2>Dosyc wazne</h2> 
         - Pobrac dane zalogowanego uzytkownika w celu przypisywania zamowien do niego. W tej chwili jest zahardcodowany 'root' i dla niego ida wszystkie zamowianie.<br/>
         - Poprawic dodawanie domyslnych wartosci w przypadku gdy z selecta sie nic nie wybierze<br/>
         - Poprawic wyglad, byc moze uzyc tego nebulara.<br/>
         - Wymuszenie wpisu w kazdym polu <br/>
         - funckja wysylajaca maila. W tej chwili tylko dodaje na bazie zamowienie <br/>

         <h3>Plany na przyszlość:</h3>
         - Moze dodanie daty dostaw i innych takich mniej waznych rzeczy
         - Dodac komponent do wyswietlania zamowien, akceptowania tego co doszlo na magazyn<br/>
         - Dodac komponent do wyswietlenia jakichkolwiek statystyk. Byle cos sie pokazywalo<br/>
         - Być moze coś z produktami, które w tej chwili posiadamy. Ile jest tego/tamtego. To już do analizy czy integrować z innymu komonentami.<br/>


    </div>


  </nb-layout-column>
</nb-layout>
