<nb-card>
    <nb-card-body>
    <div class="form col-lg-12">
      <form [formGroup] = "orderProductForm">        
        <div class="form-group">
          <label for="category">Kategoria</label>
          <select class="form-control" id="category" name="category" formControlName="categorySelectControl"
           [(ngModel)]="selectedCategory" [ngClass]="{
            'incorrect-data': categorySelectControl.invalid && sendOrderIsClicked,
            'correct-data': categorySelectControl.valid && sendOrderIsClicked
            }" required>
            <option [ngValue]="null">Wybierz kategorię</option>
            <option *ngFor="let category of categories | async">{{category.name}}</option>
          </select>
        </div>
        
        <div class="linkElement">
          <a href="#" (click)="clearNewCategoryInput()" data-toggle="collapse" data-target="#inputCategory">Dodaj kategorię</a>
        </div>

        <div id="inputCategory" class="collapse">
          <div class="form-group">
            <label for="newCategory">Nazwa</label>
            <input type="text" class="form-control" id="newCategory" name="newCategory" formControlName="newCategoryNameControl" 
            placeholder = "Nazwa musi się składać z minimum 3 znaków" [(ngModel)]="newCategory" 
            required />
          </div>
          <div class="form-group text-center">
            <button (click)="addNewCategory()" class="btn btn-success btn-block" data-toggle="collapse" 
            data-target="#inputCategory" [disabled]="!isNewCategoryCorrect()">DODAJ !</button>
          </div>
        </div>

        <div class="form-group">
          <label for="productName">Nazwa produktu</label>
          <input type="text" class="form-control" id="productName" name="productName" formControlName="productNameControl" 
          placeholder="Minimalna ilość znaków: 5" [(ngModel)]="productName" [ngClass]="{
            'incorrect-data': productNameControl.invalid && sendOrderIsClicked,
            'correct-data': productNameControl.valid && sendOrderIsClicked
          }" required />
        </div>
       
        <div class="form-group">
          <label for="quantity">Ilość</label>
          <input type="text" class="form-control" id="quantity" name="quantity" formControlName="quantityControl"
          [(ngModel)]="quantity" [ngClass]="{
            'incorrect-data': quantityControl.invalid && sendOrderIsClicked,
            'correct-data': quantityControl.valid && sendOrderIsClicked
           }" required />
        </div>
 
        <div class="form-group">
          <label for="company">Kontrahent</label>
          <select class="form-control" id="company" name="company" formControlName="companySelectControl" 
          [(ngModel)]="selectedCompany" [ngClass]="{
            'incorrect-data': companySelectControl.invalid && sendOrderIsClicked,
            'correct-data': companySelectControl.valid && sendOrderIsClicked
           }" required>
            <option [ngValue]="null">Wybierz kontrahenta</option>
            <option *ngFor="let company of companies | async">{{company.name}}</option>
          </select> 
        </div>
         
        <div class="linkElement">
          <a href="#" (click)="clearNewCompanyInputs()" data-toggle="collapse" data-target="#inputCompany">Dodaj kontrahenta</a>
        </div>
        
        <div id="inputCompany" class="collapse">
          <div class="form-group">
            <label for="addNewCompany">Nazwa kontrahenta</label>
            <input type="text" class="form-control" id="addNewCompany" name="addNewCompany" 
            formControlName="newCompanyNameControl" [(ngModel)]="newCompany" required />
          </div> 
          <div class="form-group">
            <label for="addCompanyEmail">Email</label>
            <input type="text" class="form-control" id="addCompanyEmail" name="addCompanyEmail" 
            formControlName="newCompanyEmailControl" [(ngModel)]="newCompanyEmail" required/>
          </div>
 
          <div class="form-group text-center">
            <button (click)="addNewCompany()" class="btn btn-success btn-block" data-toggle="collapse" 
            data-target="#inputCompany" [disabled] = "!isNewCompanyCorrect()">Dodaj kontrahenta</button>
          </div>
        </div>
        <br/> 

        <div class="form-group text-center">
          <button (click)="sendOrder()" type="submit" class="btn btn-success" >Wyślij zamówienie</button>
        </div>
      </form>
    </div>

    <ul>
          <li *ngFor="let order of orders | async">
              <pre>{{ order | json }}</pre>
          </li>
    </ul>


  </nb-card-body>
</nb-card>
