<nb-card>
    <nb-card-body>
        <div class="col-6">
            <h3>Profil użytkownika</h3>
            <div class="profil-info">
                <h2>{{user?.displayName}}</h2>
                <strong>{{user?.email}}</strong>
            </div>
            <hr/>
            <form novalidate [formGroup]="editForm">
                <div class="form-group">
                    <label for="displayName">Edytuj nazwę użytkownika</label>
                    <input type="text" class="form-control" id="displayName" formControlName="displayName" required [ngClass]="{
                        'is-invalid': displayName.invalid && (displayName.dirty || displayName.touched),
                        'is-valid': displayName.valid && (displayName.dirty || displayName.touched)}">
                    <div class="form-control-feedback" *ngIf="displayName.errors && (displayName.dirty || displayName.touched)">
                        <p *ngIf="displayName.errors.minlength">Nazwa musi zawierać przynajmniej 3 znaki!</p>
                    </div>
                </div>
                <button (click)="updateData()" class="btn btn-success btn-block" [disabled]="!editForm.valid">Gotowe
                </button>
            </form>
        </div>
    </nb-card-body>
</nb-card>