<div class="row">
    <nb-card>
        <nb-card-body><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Zobacz więcej!</a></nb-card-body>
    </nb-card>
</div>
<div class="row">
    <nb-card>
        <nb-card-body>
            <div style="float:left;">
                <app-chart-by-status></app-chart-by-status>
            </div>
            <div style="float:left;">
                <app-chart-by-date></app-chart-by-date>
            </div>
            
        </nb-card-body>
    </nb-card>
</div>
<div class="row">
    <nb-card>
        <nb-card-body>
            <app-chart-by-money>fdsfd</app-chart-by-money>
        </nb-card-body>
    </nb-card>
</div>