.header {
    display: flex;
    align-items: center;
}

.navigation {
    font-size: 2.5rem;
    text-decoration: none;
}

.logo h1 {
    text-align: center;
    font-size: 1rem;
}

.user {
    position: relative;
    right: 5%;
    float: right;
    cursor: pointer;
}